<!doctype html>

<html>
<head>
<title>Snippet Details</title>
</head>
<body>
  <a href="/home"><h5>Return Home</h5></a>
    <div>
      <h2> {{ snippet.title }}</h2>
      <h3> {{ snippet.language }} </h3>
      <p> {{ snippet.tag }} </p>
      <p> {{ snippet.code }} </p>
      <p> {{ snippet.notes }} </p>
      <p> {{ snippet.tags }} </p>
    </div>
</body>


</html>
