<!doctype html>
<html>

<head>
  <title>Code Snippet Home</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <a href="home"><li><h3>Home</h3></li></a>
        <a href="add"><li><h3>Add New Snippet</h3></li></a>
      <ul>
    </nav>
  </header>
  <main>
    <!--TODO: fix the username on the greeting  -->
    <h1> Hello {{ user.name }}! </h1>
    <section class="snip-search">
      <h4>Narrow search:</h4>
      <form method="post" action="/search">
          <select name="select" id="select">
            <option value="language">Language</option>
            <option value="tags">Tags</option>
          </select>
          <input type="text" name="search_term" placeholder="keyword">
          <input type="submit" value="Search">
      </form>
    </section>

    <section class="snip-display">
      <h3>Snippets:</h3>
      <ul>
        {{ #snippets }}
        <li>
          <a href="/display/{{ _id }}">
            <p> Title: {{ title }}</p>
            <p> Language: {{ language }} </p>
            <p> Tags: {{ tags }} </p>
         </a>
        </li>
        {{ /snippets }}
      </ul>
    </section>


  </main>
</body>

</html>
