<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta lang="en">
    <title>CodeTrapper</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro|PT+Sans" rel="stylesheet">
  </head>

  <body>
    <section class="container body-section">
      <header class="navbar navbar-default navbar-fixed-top">
        <nav>
          <ul class="list-inline list-unstyled">
            <li class="navbar-brand"><span class="glyphicon glyphicon-lock"></span><b class="logo">CodeHood</b></li>
            {{#user}}
            <li class="logout navbar-right">Logged in as {{user}} | <a href="/app/home">Home  </a> | <a href="/app/user/logout">Log Out</a></li>
            {{/user}}

            {{^user}}
            <li class="logout navbar-right"><a href="/app/user/login">Log In</a></li>
            {{/user}}
            <li></li>
          </ul>
        </nav>
      </header>

      {{{yield}}}

    </section>

    <footer class="">
      <p class="footer-text">A student project by Robin Butler.</p>
    </footer>




  </body>






</html>
