<!doctype html>
<html>

<head>
  <title>Code Snippet Login</title>
</head>

<body>


  <main>
    <form method="post" action="login">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
      <br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      <br>
      <input type="submit" value="Login">
    </form>
    <p> or </p>
    <a href="register"><button>Register</button></a>
  </main>
</body>

</html>
