<section class="container form-div">
  <h3>Sign in to CodeHOOD!</h3>
  {{#message}}
  <p class="bg-warning">{{message}}</p>
  {{/message}}

  <form class="form-group sign-in" action="/app/user/login" method="POST">
    <input class="form-control" type="text" name="username" value="" placeholder="Username">
    <input class="form-control" type="password" name="password" value="" placeholder="Password">
    <input class="form-control btn btn-primary" type="submit" name="signup" value="Log in!">
  </form>
  <h5>I'd like to be a CodeHooder, too! Take me to the <a href="/app/user/signup">Sign up page!</a></h5>
</section>
