<!doctype html>
<html>

<head>
  <title>Code Snippet Register</title>
</head>


<body>

  <main>
    <form method="post" action="register">
      <label for="new_username">New Username:</label>
      <input type="text" id="new_username" name="new_username">
      <br>
      <label for="password">New Password:</label>
      <input type="password" id="new_password" name="new_password">
      <br>

      <input type="submit" value="Submit">
      <p> {{ errormessage }}</p>
    </form>
  </main>
</body>

</html>
